@import './fonts/fonts.css';

.app * {
  font-family: 'Inter-UI', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1010px;
  min-height: 100vh;
  margin-inline: auto;
  padding: 30px;
}
